* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gainsboro;
}

header {
  height: 18vh;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: "Courgette", cursive;
  padding: 10px 0;
  font-size: 2rem;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  animation: title-animation 20s linear infinite;
}

@keyframes title-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}

.search-input {
  height: 30px;
  width: 260px;
  font-size: 1em;
  padding-left: 4px;
  border: 2px solid #000000;
}

.search-btn {
  font-size: 1em;
  height: 30px;
  width: 70px;
  cursor: pointer;
  border: 2px solid #000000;
}

.now-showing {
  display: inline-block;
}

.option-btn {
  margin: 10px auto;
}

.total-p {
  margin: 10px auto;
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title-wrapper {
  margin-top: 25px;
  width: 400px;
}

.title-info-wrapper {
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

h4 {
  margin-bottom: 10px;
}

.additional-info-btn {
  margin: auto;
  display: block;
  height: 25px;
  width: 150px;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 5px;
  border: 2px solid #000000;
}

.add-title-info-wrapper {
  margin-top: 10px;
}
.unshow {
  display: none;
}

.choice {
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  width: 30px;
  height: 20px;
  border: 2px solid #000000;
}

.prev-btn {
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  width: 65px;
  height: 20px;
  border: 2px solid #000000;
}

.next-btn {
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  width: 45px;
  height: 20px;
  border: 2px solid #000000;
}

.choice:hover {
  background-color: #147ee0;
}

.highlight {
  background-color: #ffeb3b;
}
